TOPIC: String Based Assignment Problem

In [2]:
#1. Write a program to reverse a string.

In [3]:
a = 'rizwan'

In [4]:
type(a)

str

In [5]:
a[::-1]

'nawzir'

In [6]:
#2. Check if a string is a palindrome.

In [45]:
def is_palindrome(string):
    reversed_string = string[::-1]
    if string == reversed_string:
        return True
    else:
        return False

print(is_palindrome('Rizwan')) 
print(is_palindrome('Alam'))  
print(is_palindrome('India'))  
print(is_palindrome('madam'))  #this is palindrome

False
False
False
True

In [8]:
#3. Convert a string to uppercase.

In [9]:
a

'rizwan'

In [11]:
a.upper()

'RIZWAN'

In [12]:
#4. Convert a string to lowercase.

In [15]:
a = 'RIZWAN'

In [16]:
a

'RIZWAN'

In [17]:
a.lower()

'rizwan'

In [18]:
#5. Count the number of vowels in a string.

In [35]:
def count_vowels(a):
    vowels = "aeiouAEIOU"  # List of vowel characters
    count = 0
    
    for i in a :
        if i in vowels:
            count += 1
    
    return count

# Test 
print(count_vowels("my name is rizwan alam and i am from india"))

14

In [33]:
#6. Count the number of consonants in a string.

In [40]:
def count_consonants(a):
    vowels = "aeiouAEIOU"  # List of vowel characters
    count = 0
    
    for i in a:
        if i.isalpha() and i not in vowels:
            count += 1
    
    return count

# Test cases
print(count_consonants("my name is rizwan alam and i am from india"))

19

In [46]:
#7. Remove all whitespaces from a string.

In [56]:
a = '    rizwan.   '

In [57]:
a

'    rizwan.   '

In [58]:
a.lstrip()

'rizwan.   '

In [59]:
a.rstrip()

'    rizwan.'

In [60]:
#8. Find the length of a string without using the `len()` function.

In [61]:
a = 'my name is rizwan alam and i am from india'

In [62]:
a

'my name is rizwan alam and i am from india'

In [81]:
a.count('')

43

In [82]:
#9. Check if a string contains a specific word.

In [83]:
a

'my name is rizwan alam and i am from india'

In [97]:
def contains_word(a, b):
    return b in a

# Test cases
text = "My name is Rizwan"
word_to_find = "name"

if contains_word(text, word_to_find):
    print(f"The word '{word_to_find}' is found in the string.")

The word 'name' is found in the string.

In [98]:
#10. Replace a word in a string with another word.

In [101]:
a = 'my name is rizwan alam and i am from india'

In [102]:
a

'my name is rizwan alam and i am from india'

In [109]:
a.replace('alam', 'khan')

'my name is rizwan khan and i am from india'

In [110]:
#11. Count the occurrences of a word in a string.

In [118]:
a = 'my name is rizwan khan and i visited Delhi 5 times. Delhi is beautiful place. Delhi is the captial of india'

In [119]:
a.count("Delhi")

3

In [120]:
#12. Find the first occurrence of a word in a string.

In [126]:
a.index("Delhi")

37

In [123]:
#13. Find the last occurrence of a word in a string.

In [124]:
a.rfind("Delhi")

78

In [127]:
#14. Split a string into a list of words.

In [128]:
a

'my name is rizwan khan and i visited Delhi 5 times. Delhi is beautiful place. Delhi is the captial of india'

In [129]:
a.split()

['my',
 'name',
 'is',
 'rizwan',
 'khan',
 'and',
 'i',
 'visited',
 'Delhi',
 '5',
 'times.',
 'Delhi',
 'is',
 'beautiful',
 'place.',
 'Delhi',
 'is',
 'the',
 'captial',
 'of',
 'india']

In [130]:
type(a.split())

list

In [131]:
#15. Join a list of words into a string.

In [144]:
a = "my name is rizwan"

In [145]:
a

'my name is rizwan'

In [146]:
type(a)

str

In [148]:
a.join('and I am from india')

'amy name is rizwannmy name is rizwandmy name is rizwan my name is rizwanImy name is rizwan my name is rizwanamy name is rizwanmmy name is rizwan my name is rizwanfmy name is rizwanrmy name is rizwanomy name is rizwanmmy name is rizwan my name is rizwanimy name is rizwannmy name is rizwandmy name is rizwanimy name is rizwana'

In [151]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [157]:
def convert_to_underscore(s):
    return s.replace(" ", "_")

In [158]:
# Test case
a = "My name is Rizwan"
b = convert_to_underscore(a)
print(b)

My_name_is_Rizwan

In [159]:
#17. Check if a string starts with a specific word or phrase.

In [180]:
a = 'He is brilliant student and he is always True'

In [178]:
a.startswith('True')

False

In [179]:
#18. Check if a string ends with a specific word or phrase.

In [181]:
a = 'He is brilliant student and he is always True'

In [183]:
a.endswith('True')

True

In [184]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [185]:
a = 'my name is rizwan and i am attending data science class'

In [186]:
a.title()

'My Name Is Rizwan And I Am Attending Data Science Class'

In [187]:
#20. Find the longest word in a string.

In [188]:
a

'my name is rizwan and i am attending data science class'

In [199]:
def find_longest_word(a):
    b1 = a.split()
    longest_word = ""
    
    for b in b1:
        if len(b) > len(longest_word):
            longest_word = b
    
    return longest_word

longest_word = find_longest_word(a)
print("The longest word in the string is:", longest_word)

The longest word in the string is: attending

In [200]:
#21. Find the shortest word in a string.

In [208]:
def find_shortest_word(a):
    b1 = a.split()
    shortest_word = ""
        shortest_word = words[0]
    for b in b1:
        if len(b) < len(shortest_word):
            shortest_word = b
    
    return shortest_word

shortest_word = find_shortest_word(a)
print("The shortest word in the string is:", shortest_word)

The shortest word in the string is:

In [210]:
#22. Reverse the order of words in a string.

In [211]:
a

'my name is rizwan and i am attending data science class'

In [212]:
a[::-1]

'ssalc ecneics atad gnidnetta ma i dna nawzir si eman ym'

In [213]:
#23. Check if a string is alphanumeric.

In [216]:
a = 'rizwan'

In [220]:
b = 797685

In [218]:
a.isalnum()

True

In [221]:
b.isalnum()

AttributeError: 'int' object has no attribute 'isalnum'

In [222]:
#24. Extract all digits from a string.

In [228]:
a = '232rizwan 23244 i4r'

In [229]:
a.isdigit()

False

In [231]:
a.isdigit()

False

In [1]:
#25. Extract all alphabets from a string.

In [6]:
def extract_alphabets(input_string):
    alphabets = ''.join(filter(str.isalpha, input_string))
    return alphabets

input_string = "My Name is Rizwan and I have started data science class on 19/8/2023"
alphabets_only = extract_alphabets(input_string)

In [7]:
print(alphabets_only)

MyNameisRizwanandIhavestarteddatascienceclasson

In [8]:
#26. Count the number of uppercase letters in a string.

In [10]:
def count_uppercase_letters(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

input_string = "My Name Is Rizwan"
uppercase_count = count_uppercase_letters(input_string)

In [11]:
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 4

In [13]:
#27. Count the number of lowercase letters in a string.

In [15]:
def count_lowercase_letters(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

input_string = "I am attending data sceince class"
lowercase_count = count_lowercase_letters(input_string)

In [16]:
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 27

In [17]:
#28. Swap the case of each character in a string.

In [34]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

swapped_string = swap_case(input_string)

In [30]:
input_string = "I am Indian"

In [31]:
print("Swapped case string:", swapped_string)

Swapped case string: i AM iNDIAN

In [35]:
input_string = "mD rIZWAN aLAM"

In [36]:
print("Swapped case string:", swapped_string)

Swapped case string: Md Rizwan Alam

In [37]:
#29. Remove a specific word from a string.

In [298]:
def remove_word(input_string, word_to_remove):
    updated_string = input_string.replace(word_to_remove, "")
    return updated_string

input_string = "Hello there, how are you doing today?"
word_to_remove = "there"
updated_string = remove_word(input_string, word_to_remove)
print("Updated string:", updated_string)

Updated string: Hello , how are you doing today?

In [38]:
#30. Check if a string is a valid email address.

In [300]:
import re

def is_valid_email(email):
    pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    return re.match(pattern, email) is not None

email_address = "shaikhrizwan@gmail.com"
if is_valid_email(email_address):
    print("Valid email address")
else:
    print("Invalid email address")

Valid email address

In [301]:
import re

def is_valid_email(email):
    pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    return re.match(pattern, email) is not None

email_address = "shaikhrizwangmail.com"
if is_valid_email(email_address):
    print("Valid email address")
else:
    print("Invalid email address")

Invalid email address

In [39]:
#31. Extract the username from an email address string.

In [317]:
def extract_username(email):
    username = email.split('@')[0]
    return username

email_address = "rizn@gmail.com"
username = extract_username(email_address)

In [318]:
username

'rizn'

In [40]:
#32. Extract the domain name from an email address string.

In [322]:
def extract_domain(email):
    domain = email.split('@')[1]
    return domain

email_address = "rizwan@gmail.com"
domain = extract_domain(email_address)

In [323]:
domain

'gmail.com'

In [41]:
#33. Replace multiple spaces in a string with a single space.

In [325]:
import re

def replace_multiple_spaces(input_string):
    cleaned_string = re.sub(r'\s+', ' ', input_string)
    return cleaned_string

original_string = "This    is   a   string   with   multiple   spaces."
cleaned_string = replace_multiple_spaces(original_string)

In [326]:
cleaned_string

'This is a string with multiple spaces.'

In [328]:
def replace_multiple_spaces(input_string):
    words = input_string.split()
    cleaned_string = ' '.join(words)
    return cleaned_string

original_string = "This    is   a   string   with   multiple   spaces."
cleaned_string = replace_multiple_spaces(original_string)

In [330]:
cleaned_string

'This is a string with multiple spaces.'

In [327]:
#34. Check if a string is a valid URL.

In [332]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

url = "https://pwskills.com/"
if is_valid_url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

In [333]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

url = "pwskills.com/"
if is_valid_url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Invalid URL

In [43]:
#35. Extract the protocol (http or https) from a URL string.

In [335]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    protocol = parsed_url.scheme
    return protocol

url = "https://pwskills.com/"
protocol = extract_protocol(url)
print("Extracted protocol:", protocol)

Extracted protocol: https

In [44]:
#36. Find the frequency of each character in a string.

In [337]:
def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

input_string = "My Name Is Rizwan"
frequency_dict = character_frequency(input_string)

for char, count in frequency_dict.items():
    print(f"Character '{char}': {count} times")

Character 'M': 1 times
Character 'y': 1 times
Character ' ': 3 times
Character 'N': 1 times
Character 'a': 2 times
Character 'm': 1 times
Character 'e': 1 times
Character 'I': 1 times
Character 's': 1 times
Character 'R': 1 times
Character 'i': 1 times
Character 'z': 1 times
Character 'w': 1 times
Character 'n': 1 times

In [45]:
#37. Remove all punctuation from a string.

In [341]:
import string

def remove_punctuation(input_string):
    no_punctuation = ''.join(char for char in input_string if char not in string.punctuation)
    return no_punctuation

input_string = "Hallo, My name is Rizwan, how about you?"
cleaned_string = remove_punctuation(input_string)

In [342]:
cleaned_string

'Hallo My name is Rizwan how about you'

In [46]:
#38. Check if a string contains only digits.

In [347]:
def contains_only_digits(input_string):
    return input_string.isdigit()

string1 = "Rizan"
string2 = "Rizwan78alam"
string3 = "12.34alam"

print("String1:", contains_only_digits(string1))
print("String2:", contains_only_digits(string2))
print("String3:", contains_only_digits(string3))

String1: False
String2: False
String3: False

In [47]:
#39. Check if a string contains only alphabets.

In [33]:
s = "My name is Rizwan"

if s.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string contains non-alphabetic characters.")

The string contains non-alphabetic characters.

In [48]:
#40. Convert a string to a list of characters.

In [35]:
s = 'DATA SCIENCE MASTERS'

In [36]:
type(s)

str

In [37]:
s.split()

['DATA', 'SCIENCE', 'MASTERS']

In [39]:
s1 = 'RIZWAN'

In [41]:
list(s1)

['R', 'I', 'Z', 'W', 'A', 'N']

In [49]:
#41. Check if two strings are anagrams.

In [44]:
def are_anagrams(str1, str2):
    # Remove spaces and punctuation, and convert to lowercase
    str1 = ''.join(c for c in str1 if c.isalnum()).lower()
    str2 = ''.join(c for c in str2 if c.isalnum()).lower()

    # Check if the sorted versions of the strings are equal
    return sorted(str1) == sorted(str2)

# Test cases
string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

listen and silent are anagrams.

In [50]:
#42. Encode a string using a Caesar cipher.

In [1]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [51]:
#43. Decode a Caesar cipher encoded string.

In [53]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [52]:
#44. Find the most frequent word in a string.

In [54]:
from collections import Counter
import re

def most_frequent_word(text):
    # Tokenize the string into words
    words = re.findall(r'\w+', text.lower())

    # Count the occurrences of each word
    word_counts = Counter(words)

    # Find the most frequent word
    most_common_word, frequency = word_counts.most_common(1)[0]

    return most_common_word, frequency

# Test case
input_string = "This is a test. This test is a good test."
most_common_word, frequency = most_frequent_word(input_string)
print(f"The most frequent word is '{most_common_word}' with a frequency of {frequency}.")

The most frequent word is 'test' with a frequency of 3.

In [53]:
#45. Find all unique words in a string.

In [55]:
import re

def unique_words(text):
    # Tokenize the string into words
    words = re.findall(r'\w+', text.lower())

    # Create a set to store unique words
    unique_word_set = set()

    # Add words to the set
    for word in words:
        unique_word_set.add(word)

    return unique_word_set

# Test case
input_string = "This is a test. This test is a good test."
unique_words_set = unique_words(input_string)
print("Unique words:", unique_words_set)

Unique words: {'a', 'this', 'is', 'good', 'test'}

In [54]:
#46. Count the number of syllables in a string.

In [57]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [55]:
#47. Check if a string contains any special characters.

In [58]:
import re

def contains_special_characters(text):
    special_characters = re.compile(r'[^a-zA-Z0-9\s]')
    return special_characters.search(text) is not None

# Test cases
input_string1 = "Hello World!"
input_string2 = "Hello123"
input_string3 = "This is a test"

print(contains_special_characters(input_string1))  # Output: True
print(contains_special_characters(input_string2))  # Output: False
print(contains_special_characters(input_string3))  # Output: False

True
False
False

In [56]:
#48. Remove the nth word from a string.

In [59]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    
    if 1 <= n <= len(words):
        words.pop(n - 1)
        updated_string = ' '.join(words)
        return updated_string
    else:
        return "Invalid index"

# Test case
input_string = "This is a test sentence."
n = 3
new_string = remove_nth_word(input_string, n)
print("Updated string:", new_string)

Updated string: This is test sentence.

In [57]:
#49. Insert a word at the nth position in a string.

In [60]:
def insert_word_at_nth_position(input_string, n, word_to_insert):
    words = input_string.split()
    
    if 0 <= n <= len(words):
        words.insert(n, word_to_insert)
        updated_string = ' '.join(words)
        return updated_string
    else:
        return "Invalid index"

# Test case
input_string = "This is a test sentence."
n = 2
word_to_insert = "new"
new_string = insert_word_at_nth_position(input_string, n, word_to_insert)
print("Updated string:", new_string)

Updated string: This is new a test sentence.

In [58]:
#50. Convert a CSV string to a list of lists.

In [50]:
import csv
from io import StringIO

csv_string = "Name,Age,Location\nRizwan,30,Bihar, India\nRehan,26,Bhopal, India\nAshish,30,Delhi, India"

# Convert the CSV string to a list of lists
csv_list = []
csv_io = StringIO(csv_string)
csv_reader = csv.reader(csv_io)
for row in csv_reader:
    csv_list.append(row)

# Print the list of lists
for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['Rizwan', '30', 'Bihar', ' India']
['Rehan', '26', 'Bhopal', ' India']
['Ashish', '30', 'Delhi', ' India']

List Based Practice Problem :

In [59]:
#1. Create a list with integers from 1 to 10.

In [65]:
l = [i for i in range(1, 11)]

In [67]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
#2. Find the length of a list without using the `len()` function.

In [68]:
def custom_len(input_list):
    length = 0
    for _ in input_list:
        length += 1
    return length

my_list = [1, 2, 3, 4, 5]
length = custom_len(my_list)

In [69]:
print("Length of the list:", length)

Length of the list: 5

In [70]:
#3. Append an element to the end of a list.

In [1]:
l = [1, 2, 3, 4]

In [2]:
l1 = 5

In [3]:
l.append(l1)

In [4]:
l

[1, 2, 3, 4, 5]

In [71]:
#4. Insert an element at a specific index in a list.

In [6]:
l = [1,2,3,4,5,6]
l1 = 6
index_to_insert = 2
l.insert(index_to_insert, l1)

In [7]:
l

[1, 2, 6, 3, 4, 5, 6]

In [72]:
#5. Remove an element from a list by its value.

In [8]:
l = [23, 'rizwan', True, 23.34, 67]

In [9]:
l

[23, 'rizwan', True, 23.34, 67]

In [10]:
l1 = 'rizwan'

In [11]:
l.remove(l1)

In [12]:
l

[23, True, 23.34, 67]

In [73]:
#6. Remove an element from a list by its index.

In [17]:
l = [23, 'rizwan', 'pwskills', True, 23.34, 67]

In [18]:
l

[23, 'rizwan', 'pwskills', True, 23.34, 67]

In [19]:
l.remove(l[2])

In [20]:
l

[23, 'rizwan', True, 23.34, 67]

In [74]:
#7. Check if an element exists in a list.

In [21]:
l = [23, 'rizwan', 'pwskills', True, 23.34, 67]

In [23]:
l1 = 'pwskills'

if l1 in l:
    print(f"{l1} exists in the list.")
else:
    print(f"{l1} does not exist in the list.")

pwskills exists in the list.

In [24]:
l

[23, 'rizwan', 'pwskills', True, 23.34, 67]

In [26]:
if 'rizwan' in l: print("rizwan exists in the list")

rizwan exists in the list

In [75]:
#8. Find the index of the first occurrence of an element in a list.

In [27]:
l = [23, 2+5j, 'rizwan', 'pwskills', True, 23.34, 67]

In [28]:
l1 = 'pwskills'

In [29]:
index = l.index(l1)

In [31]:
print(f"The index of {l1} is {index}")

The index of pwskills is 3

In [76]:
#9. Count the occurrences of an element in a list.

In [2]:
# Sample list
my_list = [1, 2, 2, 3, 4, 2, 5, 2]

# Element to count occurrences of
element_to_count = 2

# Count occurrences
count = my_list.count(element_to_count)

# Print the count
print(f"The element {element_to_count} appears {count} times in the list.")

The element 2 appears 4 times in the list.

In [77]:
#10. Reverse the order of elements in a list.

In [3]:
# Sample list
my_list = [1, 2, 3, 4, 5]

# Reverse the list using slicing
reversed_list = my_list[::-1]

# Print the reversed list
print(reversed_list)

[5, 4, 3, 2, 1]

In [78]:
#11. Sort a list in ascending order.

In [4]:
# Sample list
my_list = [5, 2, 8, 1, 3]

# Sort the list in ascending order using sorted()
sorted_list = sorted(my_list)

# Print the sorted list
print(sorted_list)

[1, 2, 3, 5, 8]

In [79]:
#12. Sort a list in descending order.

In [5]:
# Sample list
my_list = [5, 2, 8, 1, 3]

# Sort the list in descending order in-place using sort() and reverse=True
my_list.sort(reverse=True)

# Print the sorted list in descending order
print(my_list)

[8, 5, 3, 2, 1]

In [80]:
#13. Create a list of even numbers from 1 to 20.

In [27]:
# Use a list comprehension to create a list of even numbers from 1 to 20
even_numbers = [x for x in range(2, 21, 2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [81]:
#14. Create a list of odd numbers from 1 to 20.

In [28]:
# Use a list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(1, 21, 2)]

# Print the list of odd numbers
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [82]:
#15. Find the sum of all elements in a list.

In [29]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Calculate the sum of all elements in the list
total_sum = sum(my_list)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 150

In [83]:
#16. Find the maximum value in a list.

In [30]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 50

In [84]:
#17. Find the minimum value in a list.

In [31]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Find the minimum value in the list
min_value = min(my_list)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 10

In [85]:
#18. Create a list of squares of numbers from 1 to 10.

In [32]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
#19. Create a list of random numbers.

In [62]:
import random

# Generate a list of 5 random integers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Print the list of random numbers
print(random_numbers)

[93, 6, 58, 94, 85]

In [88]:
#20. Remove duplicates from a list.

In [63]:
# Create a list with duplicate elements
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting the list to a set and back to a list
unique_list = list(set(my_list))

# Print the list with duplicates removed
print(unique_list)

[1, 2, 3, 4, 5]

In [89]:
#21. Find the common elements between two lists.

In [64]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the common elements using list comprehensions
common_elements = [element for element in list1 if element in list2]

# Print the common elements
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [90]:
#22. Find the difference between two lists.

In [65]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find elements that are unique to one of the lists using set operations
unique_elements = set(list1).symmetric_difference(set(list2))

# Convert the result back to a list
unique_elements_list = list(unique_elements)

# Print the result
print("Unique elements:", unique_elements_list)

Unique elements: [1, 2, 6, 7]

In [91]:
#23. Merge two lists.

In [71]:
# Define two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists using the + operator
merged_list = list1 + list2

# Print the merged list
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [92]:
#24. Multiply all elements in a list by 2.

In [72]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Use list comprehension to multiply each element by 2
doubled_list = [x * 2 for x in my_list]

# Print the list with elements multiplied by 2
print(doubled_list)

[2, 4, 6, 8, 10]

In [96]:
#25. Filter out all even numbers from a list.

In [73]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use list comprehension to filter out even numbers
odd_numbers = [x for x in my_list if x % 2 != 0]

# Print the list with even numbers filtered out
print(odd_numbers)

[1, 3, 5, 7, 9]

In [97]:
#26. Convert a list of strings to a list of integers.

In [74]:
# Create a list of strings
string_list = ["1", "2", "3", "4", "5"]

# Use list comprehension to convert strings to integers
integer_list = [int(x) for x in string_list]

# Print the list of integers
print(integer_list)

[1, 2, 3, 4, 5]

In [98]:
#27. Convert a list of integers to a list of strings.

In [75]:
# Create a list of integers
integer_list = [1, 2, 3, 4, 5]

# Use list comprehension to convert integers to strings
string_list = [str(x) for x in integer_list]

# Print the list of strings
print(string_list)

['1', '2', '3', '4', '5']

In [99]:
#28. Flatten a nested list.

In [76]:
# Define a nested list
nested_list = [1, [2, 3], [4, [5, 6]], 7]

# Function to flatten a nested list using recursion
def flatten(lst):
    flat_list = []
    for item in lst:
        if isinstance(item, list):
            flat_list.extend(flatten(item))
        else:
            flat_list.append(item)
    return flat_list

# Call the function to flatten the nested list
flattened_list = flatten(nested_list)

# Print the flattened list
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

In [100]:
#29. Create a list of the first 10 Fibonacci numbers.

In [77]:
# Initialize a list with the first two Fibonacci numbers
fibonacci_list = [0, 1]

# Generate the next 8 Fibonacci numbers and add them to the list
for i in range(2, 10):
    next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
    fibonacci_list.append(next_fibonacci)

# Print the list of the first 10 Fibonacci numbers
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [101]:
#30. Check if a list is sorted.

In [78]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Check if the list is sorted in ascending order
is_sorted = all(my_list[i] <= my_list[i + 1] for i in range(len(my_list) - 1))

# Print the result
if is_sorted:
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [102]:
#31. Rotate a list to the left by `n` positions.

In [79]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Define the number of positions to rotate
n = 2

# Rotate the list to the left by n positions
rotated_list = my_list[n:] + my_list[:n]

# Print the rotated list
print(rotated_list)

[3, 4, 5, 1, 2]

In [103]:
#32. Rotate a list to the right by `n` positions.

In [80]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Define the number of positions to rotate
n = 2

# Calculate the index to split the list
split_index = len(my_list) - n

# Rotate the list to the right by n positions
rotated_list = my_list[split_index:] + my_list[:split_index]

# Print the rotated list
print(rotated_list)

[4, 5, 1, 2, 3]

In [104]:
#33. Create a list of prime numbers up to 50.

In [81]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [105]:
#34. Split a list into chunks of size `n`.

In [82]:
# Function to split a list into chunks of size n
def split_list(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Specify the chunk size
chunk_size = 3

# Split the list into chunks of size n
chunked_list = split_list(my_list, chunk_size)

# Print the list of chunks
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [106]:
#35. Find the second largest number in a list.

In [83]:
# Create a list of numbers
my_list = [10, 5, 20, 8, 15]

# Initialize variables to keep track of the largest and second largest numbers
largest = float('-inf')  # Initialize largest to negative infinity
second_largest = float('-inf')  # Initialize second largest to negative infinity

# Iterate through the list to find the largest and second largest numbers
for num in my_list:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest and num != largest:
        second_largest = num

# Check if a second largest number was found
if second_largest != float('-inf'):
    print("The second largest number is:", second_largest)
else:
    print("There is no second largest number in the list.")

The second largest number is: 15

In [107]:
#36. Replace every element in a list with its square.

In [70]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Use list comprehension to replace each element with its square
squared_list = [x ** 2 for x in my_list]

# Print the list with squared elements
print(squared_list)

[1, 4, 9, 16, 25]

In [108]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [69]:
# Create a list
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list to a dictionary using a dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [109]:
#38. Shuffle the elements of a list randomly.

In [68]:
import random

# Create a list
my_list = [1, 2, 3, 4, 5]

# Shuffle the elements randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [2, 1, 3, 5, 4]

In [110]:
#39. Create a list of the first 10 factorial numbers.

In [67]:
# Function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(n) for n in range(10)]

# Print the list of factorial numbers
print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [111]:
#40. Check if two lists have at least one element in common.

In [66]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Initialize a flag to indicate whether there is a common element
common_flag = False

# Loop through list1 and check for common elements
for item in list1:
    if item in list2:
        common_flag = True
        break  # Exit the loop early if a common element is found

if common_flag:
    print("The two lists have at least one element in common.")
else:
    print("The two lists have no elements in common.")

The two lists have at least one element in common.

In [112]:
#41. Remove all elements from a list.

In [113]:
l = ['rizwan', 343.34, False, 232, 'pwakills']

In [114]:
l

['rizwan', 343.34, False, 232, 'pwakills']

In [119]:
l.clear()

In [120]:
l

[]

In [121]:
#43. Convert a string into a list of words.

In [123]:
String = 'My Name is Rizwan'

In [124]:
String

'My Name is Rizwan'

In [125]:
type(String)

str

In [127]:
# Convert the string into a list of words
l1 = String.split()

In [129]:
l1

['My', 'Name', 'is', 'Rizwan']

In [133]:
String1 = "RIZWAN"

In [134]:
type(String1)

str

In [135]:
list(String1)

['R', 'I', 'Z', 'W', 'A', 'N']

In [136]:
#44. Convert a list of words into a string.

In [84]:
# Create a list of words
word_list = ["Hello", "world", "in", "Python"]

# Use the join() method to convert the list into a string
result_string = ' '.join(word_list)

# Print the resulting string
print(result_string)

Hello world in Python

In [137]:
#45. Create a list of the first `n` powers of 2.

In [85]:
# Define the value of 'n'
n = 5  # Change this to the desired number of powers of 2

# Create a list of the first 'n' powers of 2 using a list comprehension
powers_of_2 = [2 ** i for i in range(n)]

# Print the list of powers of 2
print(powers_of_2)

[1, 2, 4, 8, 16]

In [138]:
#46. Find the longest string in a list of strings.

In [86]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string using the max() function
longest_string = max(string_list, key=len)

# Print the longest string
print("The longest string is:", longest_string)

The longest string is: elderberry

In [139]:
#47. Find the shortest string in a list of strings.

In [87]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string using the min() function
shortest_string = min(string_list, key=len)

# Print the shortest string
print("The shortest string is:", shortest_string)

The shortest string is: date

In [140]:
#48. Create a list of the first `n` triangular numbers.

In [88]:
# Define the value of 'n'
n = 5  # Change this to the desired number of triangular numbers

# Create a list of the first 'n' triangular numbers
triangular_numbers = []

# Calculate and append the triangular numbers to the list
for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers.append(triangular_number)

# Print the list of triangular numbers
print(triangular_numbers)

[1, 3, 6, 10, 15]

In [141]:
#49. Check if a list contains another list as a subsequence.

In [89]:
# Define the main list
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Define the subsequence list to check for
subsequence = [3, 5, 7]

# Initialize variables for tracking positions in both lists
main_index = 0
subsequence_index = 0

# Iterate through the main list to find the subsequence
while main_index < len(main_list) and subsequence_index < len(subsequence):
    if main_list[main_index] == subsequence[subsequence_index]:
        subsequence_index += 1
    main_index += 1

# Check if the subsequence was found
if subsequence_index == len(subsequence):
    print("The main list contains the subsequence.")
else:
    print("The main list does not contain the subsequence.")

The main list contains the subsequence.

In [142]:
#50. Swap two elements in a list by their indices.

In [90]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Define the indices of the elements to swap
index1 = 1  # Index of the first element to swap
index2 = 3  # Index of the second element to swap

# Check if the indices are valid
if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    # Swap the elements at the specified indices
    temp = my_list[index1]
    my_list[index1] = my_list[index2]
    my_list[index2] = temp

    # Print the list after swapping
    print("List after swapping:", my_list)
else:
    print("Invalid indices. Indices must be within the range of the list.")

List after swapping: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

In [143]:
#1. Create a tuple with integers from 1 to 5.

In [144]:
t = (1,2,3,4,5)

In [146]:
t

(1, 2, 3, 4, 5)

In [147]:
type(t)

tuple

In [148]:
#2. Access the third element of a tuple.

In [149]:
t1 = (14, 34, 31, 56, 78)

In [150]:
t1[2]

31

In [151]:
#3. Find the length of a tuple without using the `len()` function.

In [91]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Initialize a variable to count the elements
count = 0

# Iterate through the tuple and count the elements
for _ in my_tuple:
    count += 1

# Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [152]:
#4. Count the occurrences of an element in a tuple.

In [92]:
# Define a tuple
my_tuple = (1, 2, 2, 3, 4, 2, 5)

# Define the element to count
element_to_count = 2

# Initialize a variable to count occurrences
count = 0

# Iterate through the tuple and count occurrences of the element
for item in my_tuple:
    if item == element_to_count:
        count += 1

# Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [153]:
#5. Find the index of the first occurrence of an element in a tuple.

In [93]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5, 2, 6)

# Define the element to find
element_to_find = 2

# Initialize a variable to store the index
index = None

# Iterate through the tuple to find the index of the first occurrence
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Stop searching once the first occurrence is found

# Check if the element was found and print the index
if index is not None:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} was not found in the tuple.")

The first occurrence of 2 is at index 1.

In [154]:
#6. Check if an element exists in a tuple.

In [94]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Define the element to check for
element_to_check = 3

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

In [155]:
#7. Convert a tuple to a list.

In [156]:
t3 = (1,2,3,4,5,6,7)

In [157]:
type(t3)

tuple

In [158]:
l3 = list(t3)

In [159]:
l3

[1, 2, 3, 4, 5, 6, 7]

In [160]:
type(l3)

list

In [162]:
t3 = list(t3)

In [163]:
t3

[1, 2, 3, 4, 5, 6, 7]

In [164]:
type(t3)

list

In [165]:
#8. Convert a list to a tuple.

In [166]:
t3

[1, 2, 3, 4, 5, 6, 7]

In [167]:
type(t3)

list

In [168]:
t4 = tuple(t3)

In [169]:
t4

(1, 2, 3, 4, 5, 6, 7)

In [170]:
type(t4)

tuple

In [171]:
t3

[1, 2, 3, 4, 5, 6, 7]

In [172]:
t3 = tuple(t3)

In [173]:
t3

(1, 2, 3, 4, 5, 6, 7)

In [174]:
type(t3)

tuple

In [175]:
#9. Unpack the elements of a tuple into variables.

In [37]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [176]:
#10. Create a tuple of even numbers from 1 to 10.

In [38]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [177]:
#11. Create a tuple of odd numbers from 1 to 10.

In [39]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [178]:
#12. Concatenate two tuples.

In [40]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Step 3: Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [179]:
#13. Repeat a tuple three times.

In [41]:
# Step 1: Create a tuple
original_tuple = (1, 2, 3)

# Step 2: Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Step 3: Print the repeated tuple
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [180]:
#14. Check if a tuple is empty.

In [42]:
# Step 1: Create an empty tuple and a non-empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [181]:
#15. Create a nested tuple.

In [43]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [182]:
#16. Access the first element of a nested tuple.

In [44]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [183]:
#17. Create a tuple with a single element.

In [45]:
# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [184]:
#18. Compare two tuples.

In [46]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [185]:
#19. Delete a tuple.

In [186]:
t6 = (17,34,67,879,2334)

In [187]:
t6

(17, 34, 67, 879, 2334)

In [188]:
type(t6)

tuple

In [189]:
del t6

In [190]:
t6

NameError: name 't6' is not defined

In [191]:
#20. Slice a tuple.

In [192]:
t6 = (17,34,67,879,2334)

In [195]:
t6

(17, 34, 67, 879, 2334)

In [202]:
t6[0:3]

(17, 34, 67)

In [203]:
#21. Find the maximum value in a tuple.

In [47]:
# Create a tuple of values
my_tuple = (23, 45, 12, 67, 89, 34)

# Find the maximum value in the tuple
max_value = max(my_tuple)

# Print the maximum value
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 89

In [204]:
#22. Find the minimum value in a tuple.

In [48]:
# Create a tuple of values
my_tuple = (23, 45, 12, 67, 89, 34)

# Find the minimum value in the tuple
min_value = min(my_tuple)

# Print the minimum value
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 12

In [205]:
#23. Convert a string to a tuple of characters.

In [49]:
# Input string
input_string = "Hello, World!"

# Convert the string to a tuple of characters using tuple()
char_tuple = tuple(input_string)

# Print the tuple of characters
print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [206]:
#24. Convert a tuple of characters to a string.

In [50]:
# Create a tuple of characters
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple to a string using the join() method
resulting_string = ''.join(char_tuple)

# Print the resulting string
print(resulting_string)

Hello, World!

In [207]:
#25. Create a tuple from multiple data types.

In [51]:
# Create a tuple with different data types
mixed_tuple = (1, "Hello", 3.14, True)

# Print the mixed tuple
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [208]:
#26. Check if two tuples are identical.

In [52]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

In [209]:
#27. Sort the elements of a tuple.

In [53]:
# Create a tuple
my_tuple = (4, 1, 6, 3, 9, 2)

# Sort the elements and create a new tuple
sorted_tuple = tuple(sorted(my_tuple))

# Print the sorted tuple
print(sorted_tuple)

(1, 2, 3, 4, 6, 9)

In [210]:
#28. Convert a tuple of integers to a tuple of strings.

In [54]:
# Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Print the tuple of strings
print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [211]:
#29. Convert a tuple of strings to a tuple of integers.

In [55]:
# Create a tuple of strings
tuple_of_strings = ("1", "2", "3", "4", "5")

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Print the tuple of integers
print(tuple_of_integers)

(1, 2, 3, 4, 5)

In [212]:
#30. Merge two tuples.

In [213]:
t1 = (10,20,30,40,50)

In [214]:
t2 = (60,70,80,90)

In [215]:
t3 = t1+t2

In [216]:
t3

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [217]:
t1+t2

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [218]:
#31. Flatten a nested tuple.

In [11]:
# Function to flatten a nested tuple
def flatten_nested_tuple(nested_tuple):
    flattened_list = []
    
    def recursive_flatten(nested_item):
        for item in nested_item:
            if isinstance(item, tuple):
                recursive_flatten(item)
            else:
                flattened_list.append(item)
    
    recursive_flatten(nested_tuple)
    return tuple(flattened_list)

# Example nested tuple
nested_tuple = ((1, 2, 3), (4, (5, 6)), 7, (8, 9))

# Flatten the nested tuple
flattened_tuple = flatten_nested_tuple(nested_tuple)

# Print the flattened tuple
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [219]:
#32. Create a tuple of the first 5 prime numbers.

In [12]:
# Define a tuple of the first 5 prime numbers
first_5_primes = (2, 3, 5, 7, 11)

# Print the tuple
print(first_5_primes)

(2, 3, 5, 7, 11)

In [220]:
#33. Check if a tuple is a palindrome.

In [13]:
# Function to check if a tuple is a palindrome
def is_tuple_palindrome(input_tuple):
    reversed_tuple = input_tuple[::-1]  # Reverse the tuple
    return input_tuple == reversed_tuple

# Example tuple
example_tuple = (1, 2, 3, 2, 1)

# Check if the tuple is a palindrome
result = is_tuple_palindrome(example_tuple)

# Print the result
if result:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [221]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [14]:
# Using a list comprehension to calculate the squares
squares_list = [x ** 2 for x in range(1, 6)]

# Convert the list to a tuple
squares_tuple = tuple(squares_list)

# Print the tuple of squares
print(squares_tuple)

(1, 4, 9, 16, 25)

In [222]:
#35. Filter out all even numbers from a tuple.

In [15]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Filter out even numbers using a generator expression
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

# Print the filtered tuple
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [223]:
#36. Multiply all elements in a tuple by 2.

In [16]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 and create a new tuple
modified_tuple = tuple(x * 2 for x in original_tuple)

# Print the modified tuple
print(modified_tuple)

(2, 4, 6, 8, 10)

In [224]:
#37. Create a tuple of random numbers.

In [17]:
import random

# Define the number of random numbers you want in the tuple
num_random_numbers = 5  # Change this to your desired number of random numbers

# Generate a tuple of random numbers
random_numbers_tuple = tuple(random.randint(1, 100) for _ in range(num_random_numbers))

# Print the tuple of random numbers
print(random_numbers_tuple)

(70, 10, 64, 70, 34)

In [225]:
#38. Check if a tuple is sorted.

In [18]:
# Function to check if a tuple is sorted
def is_tuple_sorted(input_tuple):
    return all(input_tuple[i] <= input_tuple[i + 1] for i in range(len(input_tuple) - 1))

# Example sorted tuple
sorted_tuple = (1, 2, 3, 4, 5)

# Example unsorted tuple
unsorted_tuple = (5, 2, 8, 1, 3)

# Check if the tuples are sorted
is_sorted = is_tuple_sorted(sorted_tuple)
is_unsorted = is_tuple_sorted(unsorted_tuple)

# Print the results
print("Is sorted_tuple sorted?", is_sorted)
print("Is unsorted_tuple sorted?", is_unsorted)

Is sorted_tuple sorted? True
Is unsorted_tuple sorted? False

In [226]:
#39. Rotate a tuple to the left by `n` positions.

In [19]:
# Function to rotate a tuple to the left by n positions
def rotate_tuple_left(input_tuple, n):
    length = len(input_tuple)
    
    # Calculate the effective rotation amount to handle cases where n is larger than the tuple length
    effective_rotation = n % length
    
    # Split the tuple into two parts based on the rotation point
    rotated_tuple = input_tuple[effective_rotation:] + input_tuple[:effective_rotation]
    
    return rotated_tuple

# Example tuple
example_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
rotated_tuple = rotate_tuple_left(example_tuple, 2)

# Print the rotated tuple
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [227]:
#40. Rotate a tuple to the right by `n` positions.

In [20]:
# Function to rotate a tuple to the right by n positions
def rotate_tuple_right(input_tuple, n):
    length = len(input_tuple)
    
    # Calculate the effective rotation amount to handle cases where n is larger than the tuple length
    effective_rotation = n % length
    
    # Split the tuple into two parts based on the rotation point
    rotated_tuple = input_tuple[-effective_rotation:] + input_tuple[:-effective_rotation]
    
    return rotated_tuple

# Example tuple
example_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the right by 2 positions
rotated_tuple = rotate_tuple_right(example_tuple, 2)

# Print the rotated tuple
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [228]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [21]:
# Function to generate the nth Fibonacci number
def fibonacci(n):
    if n <= 0:
        return ()
    elif n == 1:
        return (0,)
    elif n == 2:
        return (0, 1)
    else:
        fib_list = [0, 1]
        for i in range(2, n):
            next_fib = fib_list[-1] + fib_list[-2]
            fib_list.append(next_fib)
        return tuple(fib_list)

# Get the first 5 Fibonacci numbers in a tuple
first_5_fibonacci = fibonacci(5)

# Print the tuple of the first 5 Fibonacci numbers
print(first_5_fibonacci)

(0, 1, 1, 2, 3)

In [229]:
#42. Create a tuple from user input.

In [22]:
# Prompt the user for input and split it into elements
user_input = input("Enter elements separated by spaces: ")
input_list = user_input.split()

# Convert the elements to the appropriate data type (e.g., integers or strings)
try:
    tuple_elements = tuple(map(int, input_list))
except ValueError:
    tuple_elements = tuple(input_list)

# Print the created tuple
print("Created Tuple:", tuple_elements)

Enter elements separated by spaces:  car bike scooter train

Created Tuple: ('car', 'bike', 'scooter', 'train')

In [230]:
#43. Swap two elements in a tuple.

In [23]:
# Create a tuple
my_tuple = (1, 2, 3, 4)

# Convert the tuple to a list
tuple_list = list(my_tuple)

# Swap two elements (e.g., swapping the first and second elements)
tuple_list[0], tuple_list[1] = tuple_list[1], tuple_list[0]

# Convert the list back to a tuple
swapped_tuple = tuple(tuple_list)

# Print the swapped tuple
print(swapped_tuple)

(2, 1, 3, 4)

In [231]:
#44. Reverse the elements of a tuple.

In [24]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple by creating a new tuple with reversed elements
reversed_tuple = tuple(reversed(my_tuple))

# Print the reversed tuple
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [232]:
#45. Create a tuple of the first `n` powers of 2.

In [25]:
# Function to generate the first n powers of 2
def powers_of_2(n):
    powers = []
    for i in range(n):
        powers.append(2 ** i)
    return tuple(powers)

# Define 'n' for the first 'n' powers of 2
n = 5  # You can change this to your desired value

# Create a tuple of the first 'n' powers of 2
powers_tuple = powers_of_2(n)

# Print the tuple of powers
print(powers_tuple)

(1, 2, 4, 8, 16)

In [233]:
#46. Find the longest string in a tuple of strings.

In [26]:
# Create a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Initialize a variable to store the longest string
longest_string = ""

# Iterate through the tuple
for string in my_tuple:
    if len(string) > len(longest_string):
        longest_string = string

# Print the longest string
print("The longest string is:", longest_string)

The longest string is: elderberry

In [234]:
#47. Find the shortest string in a tuple of strings.

In [33]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [235]:
#48. Create a tuple of the first `n` triangular numbers.

In [34]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [236]:
#49. Check if a tuple contains another tuple as a subsequence.

In [35]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [237]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [36]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

In [238]:
#1. Create a set with integers from 1 to 5.

In [61]:
s = {1,2,3,4,5}

In [62]:
s

{1, 2, 3, 4, 5}

In [239]:
#2. Add an element to a set.

In [63]:
s

{1, 2, 3, 4, 5}

In [64]:
s.add(6)

In [65]:
s

{1, 2, 3, 4, 5, 6}

In [66]:
s.add('rizwan')

In [67]:
s

{1, 2, 3, 4, 5, 6, 'rizwan'}

In [68]:
type(s)

set

In [240]:
#3. Remove an element from a set.

In [69]:
s

{1, 2, 3, 4, 5, 6, 'rizwan'}

In [71]:
s.remove('rizwan')

In [72]:
s

{1, 2, 3, 4, 5, 6}

In [241]:
#4. Check if an element exists in a set.

In [73]:
s

{1, 2, 3, 4, 5, 6}

In [80]:
if 'rizwan' in s:
    print("element exists in a set")
else:
    print("element doesn't exists in a set")

element doesn't exists in a set

In [81]:
if 6 in s:
    print("element exists in a set")
else:
    print("element doesn't exists in a set")

element exists in a set

In [242]:
#5. Find the length of a set without using the `len()` function.

In [82]:
s

{1, 2, 3, 4, 5, 6}

In [83]:
count = 0

for _ in s:
    count += 1

print("Length of the set:", count)

Length of the set: 6

In [243]:
#6. Clear all elements from a set.

In [84]:
s

{1, 2, 3, 4, 5, 6}

In [85]:
s.clear()

In [86]:
s

set()

In [244]:
#7. Create a set of even numbers from 1 to 10.

In [87]:
e = {number for number in range(2, 11, 2)}

In [88]:
e

{2, 4, 6, 8, 10}

In [245]:
#8. Create a set of odd numbers from 1 to 10.

In [95]:
e1 = {number for number in range(1, 11, 2)}

In [96]:
e1

{1, 3, 5, 7, 9}

In [246]:
#9. Find the union of two sets.

In [97]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

In [98]:
set3 = set1 | set2

In [100]:
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [247]:
#10. Find the intersection of two sets.

In [101]:
set1 = {1,2,3,4,5}
set2 = {5,7,8,9,10}

In [102]:
s3 = set1.intersection(set2)

In [103]:
s3

{5}

In [248]:
#11. Find the difference between two sets.

In [107]:
set1 = {5,6,7,8,9}
set2 = {5,7,8,9,10}

In [108]:
set3 = set1.difference(set2)

In [109]:
set3

{6}

In [249]:
#12. Check if a set is a subset of another set.

In [110]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6,7,8}

In [111]:
if set1.issubset(set2):
        print("set1 is a subset of set2.")
else:
    print("set1 is not a subset of set2.")

set1 is a subset of set2.

In [250]:
#13. Check if a set is a superset of another set.

In [56]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset of set2 using the >= operator
is_superset = set1 >= set2

# Print the result
if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

In [251]:
#14. Create a set from a list.

In [57]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Convert the list to a set using the set() constructor
my_set = set(my_list)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

In [252]:
#15. Convert a set to a list.

In [58]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() constructor
my_list = list(my_set)

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

In [253]:
#16. Remove a random element from a set.

In [59]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using the pop() method
removed_element = my_set.pop()

# Print the removed element and the updated set
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [254]:
#17. Pop an element from a set.

In [60]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the popped element and the updated set
print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

In [255]:
#18. Check if two sets have no elements in common.

In [61]:
# Define two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the two sets are disjoint using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("The two sets are disjoint (have no common elements).")
else:
    print("The two sets are not disjoint (have at least one common element).")

The two sets are disjoint (have no common elements).

In [256]:
#19. Find the symmetric difference between two sets.

In [95]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the symmetric difference using the ^ operator
symmetric_diff = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_diff)

Symmetric Difference: {1, 2, 6, 7}

In [257]:
#20. Update a set with elements from another set.

In [96]:
# Define two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update() method
set1.update(set2)

# Print the updated set1
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [258]:
#21. Create a set of the first 5 prime numbers.

In [97]:
# Create a set of the first 5 prime numbers
prime_numbers = {2, 3, 5, 7, 11}

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_numbers)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [259]:
#22. Check if two sets are identical.

In [101]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the two sets are identical
if set1 == set2:
    print("The two sets are identical.")
else:
    print("The two sets are not identical.")

The two sets are identical.

In [260]:
#23. Create a frozen set.

In [102]:
# Create a frozen set
my_frozen_set = frozenset([1, 2, 3, 4, 5])

# Print the frozen set
print("Frozen set:", my_frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [261]:
#24. Check if a set is disjoint with another set.

In [103]:
# Define two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the two sets are disjoint using isdisjoint()
if set1.isdisjoint(set2):
    print("The two sets are disjoint (have no common elements).")
else:
    print("The two sets have at least one common element.")

The two sets are disjoint (have no common elements).

In [262]:
#25. Create a set of squares of numbers from 1 to 5.

In [104]:
# Create a set of squares of numbers from 1 to 5
squares_set = {x ** 2 for x in range(1, 6)}

# Print the set of squares
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

In [263]:
#26. Filter out all even numbers from a set.

In [105]:
# Define a set with both even and odd numbers
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

# Filter out even numbers and create a new set with only odd numbers
odd_numbers_set = {x for x in my_set if x % 2 != 0}

# Print the set of odd numbers
print("Set of odd numbers:", odd_numbers_set)

Set of odd numbers: {1, 3, 5, 7, 9}

In [264]:
#27. Multiply all elements in a set by 2.

In [108]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [265]:
#28. Create a set of random numbers.

In [109]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {68, 69, 90, 27, 31}

In [266]:
#29. Check if a set is empty.

In [111]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [267]:
#30. Create a nested set (hint: use frozenset).

In [112]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [268]:
#31. Remove an element from a set using the discard method.

In [113]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [269]:
#32. Compare two sets.

In [114]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [270]:
#33. Create a set from a string.

In [115]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'h', 'l', 'o', 'e'}

In [271]:
#34. Convert a set of strings to a set of integers.

In [116]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '123', '456'}
Converted Integer Set: {456, 123, 789}

In [272]:
#35. Convert a set of integers to a set of strings.

In [117]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'1', '3', '2', '4', '5'}

In [273]:
#36. Create a set from a tuple.

In [118]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

In [274]:
#37. Convert a set to a tuple.

In [119]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [275]:
#38. Find the maximum value in a set.

In [120]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [276]:
#39. Find the minimum value in a set.

In [110]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [277]:
#40. Create a set from user input.

In [107]:
# Initialize an empty set
user_set = set()

# Get user input as a comma-separated string
user_input = input("Enter a comma-separated list of values: ")

# Split the user input string into a list of values
input_values = user_input.split(',')

# Iterate through the input values and add them to the set
for value in input_values:
    value = value.strip()  # Remove leading and trailing spaces
    if value:
        user_set.add(value)  # Add non-empty values to the set

# Print the user-set
print("Set created from user input:", user_set)

Enter a comma-separated list of values:  Delhi, Mumbai, Punjab, Goa, Bhopal

Set created from user input: {'Delhi', 'Punjab', 'Goa', 'Mumbai', 'Bhopal'}

In [278]:
#41. Check if the intersection of two sets is empty.

In [106]:
# Define two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection of the two sets is empty using isdisjoint()
if set1.isdisjoint(set2):
    print("The intersection of the two sets is empty.")
else:
    print("The two sets have a non-empty intersection.")

The intersection of the two sets is empty.

In [279]:
#42. Create a set of the first 5 Fibonacci numbers.

In [100]:
# Create a set of the first 5 Fibonacci numbers
fibonacci_numbers = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Generate and add the first 5 Fibonacci numbers to the set
for _ in range(5):
    fibonacci_numbers.add(a)
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_numbers)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [280]:
#43. Remove duplicates from a list using sets.

In [99]:
# Define a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting the list to a set and back to a list
unique_list = list(set(my_list))

# Print the unique list
print("List with duplicates:", my_list)
print("List with duplicates removed:", unique_list)

List with duplicates: [1, 2, 2, 3, 4, 4, 5]
List with duplicates removed: [1, 2, 3, 4, 5]

In [281]:
#44. Check if two sets have the same elements, regardless of their count.

In [98]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the two sets have the same elements regardless of count
if set1 == set2:
    print("The two sets have the same elements.")
else:
    print("The two sets do not have the same elements.")

The two sets have the same elements.

In [282]:
#45. Create a set of the first `n` powers of 2.

In [10]:
# Define the value of 'n' for the first 'n' powers of 2
n = 5  # You can change this to your desired value

# Create a set to store the first 'n' powers of 2
powers_of_2_set = set()

# Generate and add the first 'n' powers of 2 to the set
for i in range(n):
    power_of_2 = 2 ** i
    powers_of_2_set.add(power_of_2)

# Print the set of the first 'n' powers of 2
print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [283]:
#46. Find the common elements between a set and a list.

In [9]:
# Define a set
my_set = {1, 2, 3, 4, 5}

# Define a list
my_list = [3, 4, 5, 6, 7]

# Find the common elements between the set and the list using intersection()
common_elements = my_set.intersection(my_list)

# Convert the result back to a list if needed
common_elements_list = list(common_elements)

# Print the common elements
print(common_elements_list)

[3, 4, 5]

In [284]:
#47. Create a set of the first `n` triangular numbers.

In [8]:
# Function to generate the nth triangular number
def nth_triangular_number(n):
    return n * (n + 1) // 2

# Define the value of 'n' for the first 'n' triangular numbers
n = 5  # You can change this to your desired value

# Create a set to store the first 'n' triangular numbers
triangular_numbers_set = set()

# Generate and add the first 'n' triangular numbers to the set
for i in range(1, n + 1):
    triangular_numbers_set.add(nth_triangular_number(i))

# Print the set of the first 'n' triangular numbers
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [285]:
#48. Check if a set contains another set as a subset.

In [7]:
# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1 using the <= operator
is_subset = set2 <= set1

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [286]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [6]:
# Define the length 'n' for the alternating sequence
n = 10  # You can change this to your desired length

# Create the alternating sequence
alternating_sequence = [1 if i % 2 == 0 else 0 for i in range(n)]

# Convert the list to a set if needed (sets do not allow duplicate values)
alternating_set = set(alternating_sequence)

# Print the alternating set
print(alternating_set)

{0, 1}

In [287]:
#50. Merge multiple sets into one.

In [288]:
s1 = {12,232,45}

In [289]:
s2 = {23,545,46,677}

In [290]:
s3 = {232,45,232,5678,9,98}

In [291]:
s4 = {34,46,778,94,23}

In [292]:
s5 = s1 | s2 | s3 | s4

In [293]:
s5

{9, 12, 23, 34, 45, 46, 94, 98, 232, 545, 677, 778, 5678}