In [87]:
#Q1. How do you comment code in Python? What are the different types of comments?

In [113]:
#we use for single line comment

In [118]:
##we can use it for single line comment as well

In [117]:
"""This is use for multiple linle commment
example we have more than 1 line
and we have to write all lines
in seprate line than
we can use (start """  """ end) and make it multiple line comments"""

'This is use for multiple linle commment\nexample we have more than 1 line\nand we have to write all lines\nin seprate line than\nwe can use (start  end) and make it multiple line comments'

In [ ]:
#There are two type of comment single line and

In [88]:
#Q2. What are variables in Python? How do you declare and assign values to variables?

In [89]:
#varible is type of data which indicate the type of data. with type of (a= variable). example:

In [1]:
a = 1

In [2]:
type(a)

int

In [3]:
b=('rizwan')

In [4]:
type(b)

str

In [5]:
c= 2.3

In [6]:
type(c)

float

In [7]:
d= True

In [8]:
type(d)

bool

In [9]:
e=[1,2,3,'riz',True,2.5,(1,2,3,4)]

In [10]:
type(e)

list

In [11]:
d=(1,2,3,4,5)

In [12]:
type(d)

tuple

In [90]:
#Q3. How do you convert one data type to another in Python?

In [108]:
a=[1,2,3,4,5,6,7]

In [109]:
type(a)

list

In [110]:
a=tuple(a)

In [111]:
type(a)

tuple

In [ ]:
a=set(a)

In [112]:
type(a)

tuple

In [91]:
#Q4. How do you write and execute a Python script from the command line?

In [103]:
a.strip

In [92]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [22]:
my_list=[1,2,3,4,5]

In [24]:
my_list1= my_list[1:3:1]

In [25]:
my_list

[1, 2, 3, 4, 5]

In [26]:
my_list1

[2, 3]

In [93]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

In [27]:
a = 5+6j

In [28]:
type(a)

complex

In [29]:
#complex number represent the real and imagnary nuumber

In [31]:
a.real

5.0

In [32]:
a.imag

6.0

In [33]:
type(a.real)

float

In [34]:
type(a.imag)

float

In [94]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [41]:
age=25

In [42]:
type(age)

int

In [43]:
age

25

In [95]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variablebelong to?

In [44]:
price=9.99

In [45]:
type(price)

float

In [96]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print thevalue of this variable?

In [55]:
name="Md Rizwan Alam"

In [56]:
type(name)

str

In [63]:
print('Md Rizwan Alam')

Md Rizwan Alam

In [64]:
type('Md Rizwan Alam')

str

In [101]:
name='Rizwn'
print(name)

Rizwn

In [102]:
type(name)

str

In [97]:
#Q10. Given the string "Hello, World!", extract the substring "World".

In [58]:
a="Hello World!"

In [72]:
a[6:11]

'World'

In [73]:
a[-6:-1]

'World'

In [98]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you arecurrently a student or not.

In [84]:
is_student = bool(input('enter your age'))
if age > 40:
    print('I am not a student')
else:
    print(True)
if age >25:
    print('I am a student')
elif age<20 :
    print(True)
elif age <25:
    print(True)

enter your age 22

True

In [100]:
is_student=False
print(is_student)

False